body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.n-card {
  margin: 20px;
}

.n-card-image {
  border-radius: 10px;
  width: 300px;
  height: 480px;
  box-shadow: 0px 0px 3 px 1 px #ccc;
}

.n-card-info {
  margin-top: 10px;
  min-height: 100px;
}

.n-card-title {
  font-size: 24px;
  margin: 0px;
}

.n-card-sub-title {
  font-size: 16px;
  margin: 0px;
}
